<div class="container-fluid px-0">

  <div id="mobileNav">
    <div class="row bg-light">
      <div class="col-10">
        <a routerLink=''><img src="../assets/img/icehouse.png" id="mLogo"></a>
      </div>
      <div class="col-2">
        <button class="hamburger hamburger--collapse" data-toggle="collapse" data-target="#mMenuCollapse" aria-expanded="false" aria-controls="mMenuCollapse" [class.is-active]="openedMenu" (click)="toggleHamburger()" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="collapse w-100" id="mMenuCollapse">
      <div class="list-group-flush" *ngFor="let item of menuItems">
        <a class="list-group-item list-group-item-action" (click)="changeRoute(item.link)" data-toggle="collapse" data-target="#mMenuCollapse">{{item.name}}</a>
      </div>
      <div id="address" class="list-group-item">
        <p>7201 Ogden Business Lane</p>
        <p>Wilmington, NC 28411</p>
        <p><a href="tel:910-686-1987">910-686-1987</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidenav">
      <div class="sticky-top flex-grow-1">
        <a routerLink=''><img src="../assets/img/icehouse.png" id="dLogo"></a>

        <div id="address" class="mb-4">
          <p>7201 Ogden Business Lane</p>
          <p>Wilmington, NC 28411</p>
          <p>910-686-1987</p>
        </div>

        <div class="list-group-flush m-0" *ngFor="let item of menuItems">
          <a class="list-group-item list-group-item-action" (click)="changeRoute(item.link)">{{item.name}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-10 px-0 outlet">

      <router-outlet></router-outlet>

      <footer class="mt-5 py-3">
        <hr class="mx-5">
        <!-- for those pics on side (sponsors etc) -->
      </footer>

    </div>
  </div>

  
</div>
