<div class="text-center my-3">
  <div class="h1">Master Schedules</div>
  <div class="h4 text-muted">Please check often as schedules are subject to change without notice.</div>
</div>

<div class="text-center my-5">
  <div class="h3">August 2019</div>
  <div class="h5 text-muted">Last Updated 18 Hours Ago</div>
  <div class="dSchedule d-none d-md-block"><embed src="../../../../assets/img/testPDF.pdf" width= "100%" height= "100%"></div>
  <div class="btn btn-primary d-md-none">Check August Schedule</div>
</div>

<div class="text-center my-5">
  <div class="h3">September 2019</div>
  <div class="h5 text-muted">Last Updated 2 days Ago</div>
  <div class="dSchedule d-none d-md-block"><embed src="../../../../assets/img/testPDF.pdf" width= "100%" height= "100%"></div>
  <div class="btn btn-primary d-md-none">Check September Schedule</div>
</div>

<!-- <embed src="../../../../assets/img/testPDF.pdf" width= "500" height= "375"> -->